body {
width: 1150px;
}
.container  {
    max-width: 1150px;
}

h1 {
  font-family: Georgia;
}
.teal {
  background: #4aaaa5;
  width: 270px;
  height: 70px;
  margin-left: 75px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Georgia;
  font-size: 30px;
  margin-top: 20px;
  font-weight: normal;

}
.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
  width: 100%;
  margin-left: 0px;
  margin-right: 200px;
  font-family: 'Helvetica Neue';
}
.name {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 400;
  font-family: Georgia;
  text-align: center;
  color: white;
}
a {
  text-decoration: none;
  color: lightgray;
  font-size: 20px;
  font-weight: 400;
  margin-right: 20px;
  padding-right: 12px;
}
.links {
  border-right: 1px solid lightgray;
}
.links:last-child {
  border-right: none;
}
.boxes {
display: flex;
justify-content:space-between;

}

.about {
  width: 100%;
  background: lightgray;
  height: 580px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.white {
width: 650px;
height: 500px;
margin-top: 40px;
margin-right: 80px;
background: white;
display: flex;
flex-direction: column;
}
.whiteTwo {
  background: white;
  width: 270px;
  height: 200px;
  margin-top: 40px;
  margin-right: 40px;
}

h2 {
font-family:'Georgia';
color: #4aaaa5;
font-size: 22px;
margin-left: 20px;
}
 hr {
margin-left: 20px;
margin-right: 20px;
color: pink;
}

h3 {
  font-family:'Georgia';
  color: #4aaaa5;
  font-size: 18px;
  /*margin-left: 20px;*/
  display: flex;
    justify-content: center;
    align-items: center;
}
.cat {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
h4 {
  font-family: arial;
  font-size: 14px;
  color: lightgray;
  flex-wrap: nowrap;
  display: flex;
  margin-left: 5px;
  margin-right: 2px;
}
.myPic {
margin-bottom: 220px;
margin-left: 10px;
}
.social {
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.bottomLine {
  width: 100%;
  height: 8px;
  background:#4aaaa5;
  margin-left: 20px;
}
footer {
background: gray;
width: 100%;
height: 60px;
color: white;
text-align: center;
margin-left: 20px;
}
