body {
  width: 1150px;
}
.container  {
  max-width: 1150px;
}

h1 {
  font-family: Georgia;
}
.teal {
  background: #4aaaa5;
  width: 270px;
  height: 70px;
  margin-left: 75px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Georgia;
  font-size: 30px;
  margin-top: 20px;
  font-weight: normal;

}
.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
  width: 100%;
  margin-left: 0px;
  margin-right: 200px;
  font-family: 'Helvetica Neue';
}
.name {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 400;
  font-family: Georgia;
  text-align: center;
  color: white;
}
a {
  text-decoration: none;
  color: lightgray;
  font-size: 20px;
  font-weight: 400;
  margin-right: 20px;
  padding-right: 12px;
}
.links {
  border-right: 1px solid lightgray;
}
.links:last-child {
  border-right: none;
}
.boxes {
  display: flex;
  justify-content:space-between;
}
.about {
  width: 100%;
  background: lightgray;
  height: 580px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.white {
  width: 650px;
  height: 500px;
  margin-top: 40px;
  margin-right: 80px;
  background: white;
  display: flex;
  flex-direction: column;
}
.whiteTwo {
  background: white;
  width: 270px;
  height: 200px;
  margin-top: 40px;
  margin-right: 40px;
}

h2 {
  margin-top: 20px;
  font-family:'Georgia';
  color: #4aaaa5;
  font-size: 22px;
  margin-left: 20px;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}

h3 {
  font-family:'Georgia';
  color: #4aaaa5;
  font-size: 18px;
  /*margin-left: 20px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
h4 {
  font-family: arial;
  font-size: 14px;
  color: lightgray;
  font-weight: 100;
  flex-wrap: nowrap;
  display: flex;
  margin: 0px 2px 128px 5px;
}
.myPic {
  margin-bottom: 220px;
  margin-left: 10px;
}
.social {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.bottomLine {
  width: 100%;
  height: 8px;
  background:#4aaaa5;
  margin-left: 20px;
}
footer {
  background: gray;
  width: 100%;
  height: 60px;
  color: white;
  text-align: center;
  margin-left: 20px;
  font-family: arial;
  font-size: 14px;
}
.form {
color: lightgray;
font-family: arial;
margin-left: 20px;
font-size: 19px;
}
input {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  height: 30px;
  width: 600px;
  color: lightgray;
  font-family: arial;
}
input::placeholder {
  color: lightgray;
  font-family: arial;
    font-size: 16px;
}
textarea {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  height: 280px;
  width: 600px;
  color: lightgray;
  font-family: arial;
  font-size: 16px;
}
/*.firstRow {
display: flex;
justify-content:center;
text-align: center;
}
.secondRow {
  display: flex;
  justify-content:center;
  text-align: center;
}
.thirdRow {
  display: flex;
  justify-content: center;
  text-align: center;
}*/
.pix {
  margin-right: 20px;
  margin-bottom: 5px;
}
.rectangle {
  width:200px;
  height: 25px;
  background: #4aaaa5;
  z-index: 1;
  position: inherit;
  margin-top: -20px;
  margin-bottom: 5px;
}
.secondP {
  color: white;
  font-size: 14px;
  font-family: arial;
  margin-top: 5px;
}
.firstcol {
display: flex;
flex-direction: column;

}
.secondcol {
display: flex;
flex-direction: column;

}
.projects {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 500px;
  width: 650px;
  margin-bottom: 1000px;
}
